  <div class="head" name="head-one">
    <span class="text headerfont" style="padding-left: 10px;"> Javainterviewprogramming<span class="dotcom">.com </span>
    <span class="text text-dark float-right" style="font-size: 13px; margin-top: 8px;">Interview programs with solutions from top tier companies(Google,Facebook,Apple etc)</span>
  </span>
  </div>
  
  <header class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
  <div class="container-fluid rounded-lg bg-dark text-light navbar navbar-expand-md" style="padding-top: 1px; padding-bottom: 1px;" id="homesection">
    <div class="col-sm-1 navbar-header">
      <a class="headerfont text-left text-light" style="padding-right: 20px;" href="">Home</a>
    </div>
    <div class="collapse navbar-collapse">  
      <ul class="col-sm-7 nav navbar-nav">
        <li><a class="secondaryfont"  href="arraysandstring" >ArraysandString</a></li>
        <li><a class="secondaryfont"  href="lists">Lists</a></li>
        <li><a class="secondaryfont"  href="treesandgraph">TreesandGraph</a></li>
        <li><a class="secondaryfont" href="sortingandsearching">SortingandSearching</a></li>
        <li><a class="secondaryfont" href="recursion">Recursion</a></li>
        <li><a class="secondaryfont" href="design">Design</a></li>
        <li><a class="secondaryfont" href="dynamicproblems">DynamicProblems</a></li>
        <li><a class="secondaryfont"  href="top10JavaInterviewPrograms">Top10ProgramsForBeginners</a></li>
      </ul>
  
      <ul class="col-sm-4 nav navbar-nav">
        <div class="container-fluid bg-dark ">
          <form action="" (ngSubmit) = "clickSearch()" >
            <input id="myInput" type="text" name="searchbar" [(ngModel)]="inputvalue"  placeholder="Search" style="margin-left: 50px; width: 100%;" class="bordor float-right searchbox">
          </form> 
         </div>
      </ul>
    </div>
     
    <!-- <ul class="nav navbar-nav">
      <li class="float-right" > 
        <img src="assets/images/brands-and-logotypes.png" class ="contact float-right" alt="" width="25px" height="25px">
        <span class="secondaryfont float-right" href="#">Vijivinoth007@gmail.com</span>
      </li>
    </ul> -->
  </div>  

</header>
<router-outlet></router-outlet>


