
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about">
                    <h1 style="padding-bottom: 20px;">About me/Contact me</h1>
                    <img src="assets/images/man.png" height="160px" >
                    <h3>Vinothkumar Velu</h3>
                    <p >Founder of javainterviewprogramming.com . Software Developer,passionate about developing websites/webapplication </p>
                    <p>Feel free to contact me at vijivinoth007@gmail.com</p>
                </div>
        </div>
    </div>
</div>
