
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about">
                    <h1>About me/Contact me</h1>
                    <img src="assets/images/vinkum.png" height="300px" >
                    <h3>Vinothkumar Velu</h3>
                    <p >Founder of javainterviewprogrmming.com . Software Developer,passionate about developing websites/webapplication </p>
                    <p>Feel free to contact me at vijivinoth007@gmail.com</p>
                </div>
        </div>
    </div>
</div>
