<div class="about paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about ">
                    <h1>About me</h1>
                    <h3>Vinothkumar Velu</h3>
                    <p class="about-paddingB">Software Developer, passionate about developing websites/webapplication </p>
                    <p>Feel free to contact me at vijivinoth007@gmail.com</p>
         
                </div>
        </div>
    </div>
</div>