
<div  class="container-fluid feedback secondfont">

  <h1 class="secondfont">Tell me what you think !</h1>
  <div class="fields">
    <form class=""  #myForm="ngForm" (ngSubmit) = "submitForm()">
      <div class="row">
        <div class="col-25">
          <label for="email" style="float: left; padding-left: 60%;" >Email address (optional) :</label>
        </div>
        <div class="col-75">
          <input type="email" #emailinput ="ngModel" class="form-control" name="email"  [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  [class.is-invalid]="emailinput.touched && emailinput.invalid" > 
          <small class="" style="font-size: 15px; color: rgb(248, 230, 62);" *ngIf="emailinput.touched && emailinput.invalid">Invalid email id</small>
        </div>
        </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-25">
          <label  for="pwd" style="float: left; padding-left: 60%;" >Name :</label>
        </div>
        <div class="col-75">
          <input type="text" class="form-control nameinput" [(ngModel)]="name" name="name" #nameinput="ngModel" required >
        </div>
        <!-- <small class="" style="font-size: 20px; color: rgb(248, 230, 62);" *ngIf=" nameinput.touched && nameinput.invalid">Name is required</small> -->
      </div>
    
      <div class="row" style="padding-top: 10px;">
        <div class="col-25">
          <label for="pwd" style="float: left; padding-left: 60%;" >Comments :</label>
        </div>
        <div class="col-75">
          <textarea type="text text-dark" class="form-control" [(ngModel)]="comment" name="comment" #nameField="ngModel" required > </textarea>
        </div>
        <!-- <small class="" style="font-size: 20px; color: rgb(248, 230, 62);" *ngIf=" nameField.touched && nameField.invalid &&">Enter something</small> -->
      </div>
     
      <button type="submit" class="btn btn-primary submitbutton" [disabled]="!myForm.valid" >Submit</button>
    </form>

  </div>
</div> 
<div class="container-fluid showcomments">
  <a  class="text-white" style="font-size: 14px;" data-toggle="collapse" href="#collapseExample"  aria-expanded="true" aria-controls="collapseExample">
Show/hide latest comments </a>
</div>

 <div id="collapseExample" class="collapse show" style="background-color:white">
  <div class="container-fluid feedbacktable row" *ngFor = "let value of inputval;let j = index" style="height:auto;">
    <div class="container col-sm-3" style="padding-top: 15px;">
      <img src="assets/images/man.png" class= "commentimage float-right" width="30px" height="30px">
    </div> 
     <div class="container col-sm-5" style="padding-top: 15px;">
      <div class="commentsection"  >{{value.name}}</div>
      <div class="textsection">{{value.comments}}</div>
      <div class="timesection float-right" [(ngModel)]="subcommanddateandtime" > {{value.timestamp}} </div>
      <hr class="" style="padding-bottom: 0px; margin-bottom: 0px;dotted; ">
      <a class="float-right" data-toggle="collapse" attr.href="#collapsecomment{{j}}"  aria-expanded="true" attr.aria-controls="collapsecomment{{j}}" style="font-family: fontawesome;padding-right: 10px;font-size: 13px;">Reply</a>
      <div attr.id="collapsecomment{{j}}" class="collapse">
        <textarea class="textsection col-lg-12 " name="subcommandvalue" [(ngModel)]="subcommandvalue" ></textarea>
        <button class="float-right btn-secondary"  (click) ="submitReplyComment(value.timestamp)"  style="font-family: fontawesome; font-size: 13px; margin-top: 10px;">Comment</button>
      </div>
     </div>
     <div class="col-sm-4">
     </div>
     <div class="container-fluid feedbacktable row" *ngFor = "let valuesub of subcommand"  style="height:auto;background-color:white">
        <div class="container col-sm-4" *ngIf ="valuesub.pagename == value.timestamp" style="padding-top: 10px;">
        </div> 
         <div class="container col-sm-5" *ngIf ="valuesub.pagename == value.timestamp" style="padding-top: 10px;  ">
          <div class="commentsection"> >Ananymous user</div>
          <div class="textsection" style="white-space: pre-wrap;height: auto; ">{{valuesub.comments}}</div>
          <div class="timesection float-right"> {{valuesub.timestamp}} </div>
          <hr style="padding-bottom: 0px; margin-bottom: 0px;">
         </div>
         <div class="col-sm-3" *ngIf ="(valuesub.pagename == value.timestamp)">
           
         </div>
   </div>
 </div>
</div>


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <footer style="background-color: rgba(244, 245, 237, 0.541);">
  <div class="container" style="padding-top: 35px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"> 
            <a href="https://www.facebook.com/vijivinoth.v">
              <span class="fa-stack fa-lg">   
                <i class="fa fa-facebook-square fa-stack-2x" style="color: rgb(41, 40, 40);" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/vinothkumar-velu-34a860167/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-linkedin-square fa-stack-2x" style="color:rgb(39, 38, 38);" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted text-center" style="font-family:'Markazi Text',serif; font-size: 23px;">Copyright &copy; JavaInterviewProgramming.com 2020</p>
        
      </div>
    </div>
  </div>
  <div class="row" style="font-family:'Markazi Text',serif; font-size: 18px;background-color: rgba(244, 245, 237, 0.541); padding-bottom: 20px;">
    <div class="col text-center" style="padding-bottom: 10px;">
       <a href="/" style="color: black;padding-right: 10px;">
      Home
    </a>
    <a href="/about" style="color: black;padding-right: 10px;">
      About me
    </a>
    <a href="/about" style="color: black;padding-right: 10px;">
      contact me
    </a>
    <a href="/privacypolicy" style="color: black;padding-right: 10px;" >
      Privacy Policy
    </a>
    </div>
   
   </div>

</footer>   